Hardware/SuperSoaper-backups
Hardware/~SuperSoaper.kicad_pcb.lck
Hardware/~SuperSoaper.kicad_sch.lck
Software/SuperSoaper_STM32/build
Software/SuperSoaper_STM32/.vscode/BROWSE*
Software/SuperSoaper_STM32/.vscode/*.db
